<a href="https://colab.research.google.com/github/olu-sikeh/Oluomachi_DTSC3020_Fall2025/blob/main/Assignment4_(ch_6)__(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

Exercise  1: Find and print the student with the lowest grade.

In [2]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:
lowest_student = min(grades, key=grades.get)
print("The student with the lowest grade is", lowest_student, "whose grade is", grades[lowest_student])

The student with the lowest grade is Omid whose grade is 16

Exercise 2: print names of students who registered for any course containing "Data"

In [7]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}

# Write your code here:

for student, subject_list in courses.items():
    for course in subject_list:
        if 'Data' in course:
            print(student, "is registred in a 'Data' course.")
            break

Sara is registred in a 'Data' course.
Reza is registred in a 'Data' course.

Exercise 3: Print titles of books that are not available.

In [8]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

# Write your code here:

for book_title, book_info in library.items():
    if not book_info['available']:
        print(book_title, "is currently not available.")

AI Basics is currently not available
Math Advanced is currently not available

Exercise 4: Print names of students who are registered for more than 2 courses.

In [9]:

registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

# Write your code here:
for student, courses in registrations.items():
    if len(courses) > 2:
        print(student, "is taking more than two classes.")

Sara is taking more than two classes
Lina is taking more than two classes

Exercise 5: Calculate and print the average grade of the class.

In [10]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:

average_grade = sum(grades.values()) / len(grades)
print("The average grade of the class is:", average_grade)

The average grade of the class is: 18.1

Exercise 6: Count and print the number of students registered for "Python".

In [13]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:

count = 0
for student, subjects in courses.items():
    if"Python" in subjects:
        count = count + 1
print("There are", count, "students taking a Python class")

There are 3 students taking a Python class

Exercise 7: Print titles of books with more than 200 pages.

In [17]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}


# write your answer here
for book, pages in book_pages.items():
    if pages > 200:
        print(book, "have over 200 pages.")

AI Basics have over 200 pages.
Math Advanced have over 200 pages.
Data Science have over 200 pages.

Exercise 8: Print each student's name and number of registered courses.

In [16]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:

for student, subjects in courses.items():
    print(student, "is registered for", len(subjects), "courses.")

Ali is registered for 2 courses.
Sara is registered for 2 courses.
Reza is registered for 2 courses.
Lina is registered for 2 courses.
Omid is registered for 1 courses.