<a href="https://colab.research.google.com/github/olu-sikeh/Oluomachi_DTSC3020_Fall2025/blob/main/DTSC3020_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Step 1

In [60]:
fruits = ["apple", "blueberry", "grape"]
print(fruits)

['apple', 'blueberry', 'grape']

In [61]:
for x in fruits:
    print(x)

apple
blueberry
grape

Step 2

In [62]:
names=["Amy", "Sam", "Mekhi", "Dani"]
names[0] = "Liana"
print(names)

['Liana', 'Sam', 'Mekhi', 'Dani']

Step 3

In [63]:
vehicles = ["car", "scooter", "plane", "bus", "train"]
vehicles.append("bike")
print(vehicles)

['car', 'scooter', 'plane', 'bus', 'train', 'bike']

Step 4

In [64]:
foods = ["pizza", "tacos", "wings", "cookies", "ice cream", "cereal"]
foods.remove("wings")
print(foods)

['pizza', 'tacos', 'cookies', 'ice cream', 'cereal']

Step 5

In [65]:
cities = ["Chicago", "New York", "Los Angeles", "San Francisco"]
cities.sort()
print(cities)
cities.reverse()
print(cities)

['Chicago', 'Los Angeles', 'New York', 'San Francisco']
['San Francisco', 'New York', 'Los Angeles', 'Chicago']

Step 6

In [66]:
animals = ["dog", "bird", "chicken"]
for animal in animals:
  print(animal)

dog
bird
chicken

Step 7

In [67]:
num = [1, 2, 3, 4, 5]
for x in num:
  print(x * 2)

2
4
6
8
10

Step 8

In [68]:
friends = ["Lizzy", "Sydney", "Vanessa", "Zoey", "Sue", "Eli"]
print(friends[:3])
print(friends[-3:])

['Lizzy', 'Sydney', 'Vanessa']
['Zoey', 'Sue', 'Eli']

Step 9

In [69]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Step 10

In [70]:
squares = [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]